.msg_alertContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    pointer-events: none;
    box-sizing: border-box;
    overflow: hidden;
}
.msg_alertBox{
    position: relative;
    min-height: 20px;
    width: 300px;
    font-size: 14px;
    display: flex;
    align-items: start;
    margin: 10px auto;
    border-radius: 2px;
    padding: 5px;
}
.msg_alertSpan{
    display: inline-block;
    max-width: 260px;
    word-wrap: normal;
    word-break: break-all;
    white-space: normal;
}
.msg_infoBox{
    background: var(--info);
    border: 1px solid var(--infoBorder);
}
.msg_successBox{
    background: var(--success);
    border: 1px solid var(--successBorder);
}
.msg_warningBox{
    background: var(--warning);
    border: 1px solid var(--warningBorder);
}
.msg_errorBox{
    background: var(--error);
    border: 1px solid var(--errorBorder);
}
.msg_plainBox{
    background: #ffffff;
    box-shadow: 0 4px 12px #00000026;
}
.msg_alertIcon{
    height: var(--minH);
    width: var(--minW);
    margin: 0 5px;
}


