.msg_alertContainer{
    --info: #e6f7ff;
    --infoBorder: #91d5ff;
    --success: #f6ffed;
    --successBorder: #b7eb8f;
    --warning: #fffbe6;
    --warningBorder: #ffe58f;
    --error: #fff2f0;
    --errorBorder: #ffccc7;
    --minH: 18px;
    --minW: 18px;
}
.msg_notificationContainer{
    --maxH: 25px;
    --maxW: 25px;
}
.msg_confirmContainer{
    --maxH: 25px;
    --maxW: 25px;
}

.msg_alert_enter{
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.msg_alert_leave{
    -webkit-animation: slide-top 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
	animation: slide-top 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
}

@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
    100% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
              opacity: 0;
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 1;
    }
    100% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
              opacity: 0;
    }
  }

  .msg_notif_enter{
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .msg_notif_leave{
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(340px);
              transform: translateX(340px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(340px);
              transform: translateX(340px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(340px);
              transform: translateX(340px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(340px);
              transform: translateX(340px);
    }
  }